.bold {
  font-weight: bold;
}
.dw {
  width: 100%;
  clear: both;
}
/*register page*/
.contentBold {
  font-weight: bold;
  font-size: 14px;
}
.textAlignCenter {
  text-align: center;
}
.textAlignLeft {
  text-align: left;
}
.form-control.registerPageInput {
  width: 45%;
  float: left;
  margin-right: 2%;
  margin-bottom: 1%;
  font-size: 14px;
  height: 30px;
}
textarea.form-control.registerPageInput {
  width: 55%;
  float: left;
  margin-right: 2%;
  margin-bottom: 1%;
  font-size: 14px;
  height: auto;
}
.registerPageButton {
  width: 45%;
  margin-right: 2%;
  margin-bottom: 1%;
  font-size: 14px;
  clear: both;
}
.marginTop {
  margin-top: 20px;
}
.marginBottom {
  margin-top: 20px;
}
.registerSpacebetween {
  margin-right: 10%;
}
.fontSize {
  font-size: 14px;
}

.leftpannelImg {
  width: 100%;
  margin-top: 10%;
}
.registerPage .leftpannelImg {
  margin-top: 20%;
}
.requestBG .leftpannelImg {
  margin-top: 0%;
}
.marginLeft {
  margin-left: 10%;
}
/*login page*/
.form-control.loginInput {
  width: 60%;
}
.iconClass {
  width: 48px;
  height: 48px;
  margin-right: 5%;
}
.iconClass:last-child {
  margin-right: 0%;
}
.loginPage .form-control {
  display: inline-block;
}
h1 {
  background-image: linear-gradient(90deg, #44b2d9 50%, #7cbe73 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.bottomBox {
  width: 100%;
  clear: both;
  margin-bottom: 2%;
  font-size: 14px;
  line-height: 16px;
  display: inline-block;
}
.leftB {
  float: left;
  padding: 4px 10px 10px 0px;
}
.rightB {
  float: left;
}
/*leftnav*/
.leftNav h4 {
  background-image: linear-gradient(90deg, #44b2d9 50%, #7cbe73 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.leftNav.leftpannel {
  border-right: 2px solid #cacbcb;
  padding-right: 0;
}
.leftNav .leftContainer {
  padding: 50px;
}
.leftNav .iconClass {
  width: 20px;
  height: 20px;
  margin-right: 5%;
}

.activeLink {
  color: #ceebff;
  font-weight: bold;
}
.inactiveLink {
  color: #0c1a4a;
  font-weight: bold;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftNav a {
  color: #0c1a4a;
  font-weight: bold;
}
.logoutLink {
  margin-top: 180px;
}
/*home page*/
.headerClass {
  height: 120px;
  padding: 1% 2% 5%;
  width: 100%;
  padding-top: 3%;
}
.headerClass .textAlign {
  display: inline-flex;
  justify-content: flex-end;
}
.headerIcon {
  margin-right: 3%;
  float: left;
}
.spacingMargin {
  padding: 3%;
}
.spacingBottom {
  padding-bottom: 3%;
}
.summaryComp .imageClass {
  width: 90%;
  margin-top: 1%;
  margin-bottom: 1%;
}
.summaryComp .mobileAppImg {
  width: 75%;
}
.summaryComp .googleAppImg {
  width: 40%;
}
.summaryComp .AppleAppImg {
  width: 40%;
  margin-right: 40px;
}
.active {
  color: #0070ba !important;
  font-weight: bold;
}
/*request a loan*/

.progress-wrapper-custom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.step4 {
  margin-top: 4%;
  width: 100%;
  text-align: center;
  border: 1px solid #cacbcb;
  border-radius: 20px;
  height: 420px;
  padding: 30px;
}
.step1,
.step2,
.step3 {
  margin-top: 3%;
  width: 100%;
  text-align: center;
  border: 1px solid #cacbcb;
  border-radius: 20px;
  padding: 20px;
}
._2Jtxm {
  font-weight: bold;
  font-size: 14px;
}
._2_g61 {
  width: 100%;
}
ul._1Lo2h {
  width: 75%;
}
.requestBG ._53Ji7 {
  padding: 0;
}

.requestBG .spacingMargin {
  padding: 1% 3% 3% 3%;
}

.requestBG a._2pGos._hsN1w {
  background-color: #007bff;
  color: #fff;
  width: 250px;
  text-align: center;
  font-weight: bold;
  line-height: 20px;
}
.requestBG ._2pGos._2RWmX,
.requestBG a._2pGos._3CDiP {
  background-color: #28a745;
  color: #fff;
  text-align: center;
  margin-right: 5%;
  width: 250px;
  font-weight: bold;
  line-height: 20px;
}
.ldInputLeft {
  width: 15%;
  float: left;
}
.ldInputRight {
  width: 40%;
  float: left;
}
/* loan Details*/
.loanDetails textarea {
  width: 55%;
  margin-bottom: 20px;
}
.form-control.ldDate {
  width: 55%;
}
.loanDetails p {
  margin-bottom: 10px;
  clear: both;
}
.loanDetails h2 {
  font-size: 24px;
  margin-bottom: 15px;
}
.rowTellUsMore {
  width: 100%;
  clear: both;
  margin-top: 10px;
}

/*loan repayment details*/
.paymentType {
  padding: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #cacbcb;
  border-radius: 4px;
  opacity: 1;
  margin-right: 20px;
  font-size: 10px;
}
.paymentType input[type='radio'] {
  padding: 0;
  margin: 0;
  height: 10px;
}
input.form-control.inputWidth {
  width: 45%;
}
p {
  font-size: 14px;
}
/*model window css*/
.modal-title.h4 {
  width: 100%;
  text-align: center;
  background-image: linear-gradient(90deg, #44b2d9 50%, #7cbe73 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.paymentModelWindow .modal-header,
.paymentModelWindow .modal-footer {
  border: 0;
}
.textAlignCenter.modal-footer {
  justify-content: center;
}

.fade.paymentModelWindow .modal-content {
  padding: 10px -0;
  margin-top: 45%;
}
.paymentModelWindow button {
  width: 30%;
}
